/* Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: #ddd;
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    margin: 50px;
    height: 1600px;
}

img {
    width: 100%;
}

#nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
}

/* Container */
.container {
    display: grid;
    gap: 20px;
}

/* Nav */
.menu {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

/* > Set brand */
.menu .brand {
    font-size: 20px;
    color: #333;
}

/* > Set menu */
.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.menu a {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 16px;
}


/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #222;
    border-radius: 3px;
    transition: all .5s;
}

.menu-toggle input {
    display: block;
    position: absolute;
    background: black;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

/* Hambuger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

span:nth-child(2).slide {
    background-color: #fff;
    transform: rotate(45deg) translate(-1px, -1px);
    z-index: 99;
}

span:nth-child(4).slide {
    background-color: #fff;
    transform: rotate(-45deg) translate(-1px, 0);
    z-index: 99;
}

span:nth-child(3).slide {
    opacity: 0;
    transform: scale(0);
}


/* Header */
.header {
    display: grid;
    gap: 5px;
    grid-template-areas:
        'hero hero feature-1'
        'hero hero feature-2';
}

/* > Set hero */
.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(img/hero.png);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.hero>* {
    display: none;
}

/* > Set features */
.features {
    background-color: #000;
    color: white;
    display: grid;
    /* justify-content: center;
    align-content: center; atau dengan */
    place-content: center;
    text-align: center;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(img/hoodies.png);
    background-size: cover;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(img/tshirt.png);
    background-size: cover;
}

.features .price {
    font-size: 3em;
    font-weight: 100;
}

/* Contact */
.contact input {
    display: block;
    margin: auto;
}

.contact input[type='email'] {
    width: 500px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.contact input[type='submit'] {
    margin: 10px auto;
    width: 200px;
    height: 50px;
    background-color: #bada55;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

/* Services */
.services {
    display: grid;
    order: 3;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.service {
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.service .icon {
    font-size: 3em;
}

.service h3 {
    font-size: 1.5em;
}

.service p {
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 0.8em;
}

/* Gallery */
.gallery {
    order: 4;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.gallery h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    grid-column: 1 / -1;
}

/* Video */
.video {
    z-index: -1;
    width: 560;
    height: 315;
}

/* Responsive Breakpoint */
/* > Default HD */
@media (max-width: 1024px) {
    .hero>* {
        display: block;
        background-color: black;
        color: #eaeaea;
        padding: 5px;
        margin-bottom: 5px;
    }

    .hero img {
        background-color: transparent;
        width: 100px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .menu {
        order: 1;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }
}

/* > Tablet */
@media (max-width: 768px) {
    .menu {
        order: -1;
        justify-items: end;
        grid-template-columns: 1fr;
    }

    .menu-toggle {
        display: flex;
    }

    .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: #222;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 10;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }

    .menu ul.slide {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile */
@media (max-width: 600px) {
    body {
        margin: 15px;
    }

    .header {
        grid-template-areas:
            'hero'
            'feature-1'
            'feature-2'
        ;
    }

}